body{
background-color: #FF5733;
font-family: 'Courier New', Courier, monospace;
/* padding-top: 5em;
padding-left: 5em;
padding-right: 5em; lo mueve a la direccion que le indiques*/
padding: 5em;
}
.parrafo1{
    background-color: white;
}
.fondoBlanco{
    background-color: white;
}
.fondoRojo{
    background-color: red;
}
.fondoNegro{
    background-color: black;
    text-align: center;
    color: white;
}
.imagen{
    width: 150px;
}
.texto1{
     text-align: center;/*cambia el tipo de fuente */
        font-size: 3em;
        color: rgb(25, 253, 0);
}
.texto2{
    font-size: 1em;
    color: white;
    text-align: justify;
}
.separacion{
    padding: 1em;
    background-color: slateblue;
}
.texto3{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.borde{
    border: 10px solid white;
    border-radius: 10px;
}
.bordeSlateblue{
    border: 2px solid slateblue;
    border-radius: 5px;
}
.bordeRojo{
    border: 2px solid red;
    border-radius: 5px;
}
